{% style %}
.game-card {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
width: 100%;
aspect-ratio: 4/3;
background: #fafafe;
border-radius: 15px;
box-shadow: 5px 5px 35px #9999b9;
}
.game-link {
width: 80%;
margin-left: auto;
margin-right: auto;
}
.game-logo {
width: 100%;
height: auto;
filter: drop-shadow(5px 5px 35px #999999) drop-shadow(2px 2px 1px #fff) ;
}
.game-logo:hover {
filter: drop-shadow(8px 8px 25px #2199E2)
}
{% endstyle %}

<div class="card-wrapper">
  <div class="card game-card">
    <a href="{{ game.system.url }}" class="game-link">
    {{ game.logo.value.image | image_url: width: 400 | image_tag: class: 'game-logo' }}
    </a>
  </div>
</div>
